!!! 5
html(ng-app="app")
    head
        meta(http-equiv="Content-Type", content="text/html;charset=utf-8")
        base(href='/static/')
        script(src='angular.js')
        link(type='text/css', rel='stylesheet', href='bootstrap.css')
        title Seed Basic
    body
        h1 Seed Basic
        div(ng-view)
        script(src='jquery.js')
        script(src='bootstrap.js')
        script(src='app.js')
