!!! 5
html(ng-app="app")
    head
        meta(http-equiv="Content-Type", content="text/html;charset=utf-8")
        script(src='angular/js/angular.min.js')
        script(src='angular-route/js/angular-route.min.js')
        link(type='text/css', rel='stylesheet', href='bootstrap/css/bootstrap.min.css')
        link(type='text/css', rel='stylesheet', href='bootstrap/css/bootstrap-theme.min.css')
        link(type='text/css', rel='stylesheet', href='styles.css')
        title Seed Basic
    body
        h1 Seed Basic
        div(ng-view)
        script(src='jquery/js/jquery.min.js')
        script(src='bootstrap/js/bootstrap.min.js')
        script(src='app.js')